body{
    background-color: rgb(34, 40, 49);
    color: white;
}
video
{
    width: 100%;
    height: auto;
}
hl {
    list-style-type: armenian;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: rgb(241, 248, 242);
    font-size: 60px;
}
div {
    display: block;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active{
    background-color: blue;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
p
{
 font-family:sans-serif ;
 font-size: 20px;
}

.icons {
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(82, 120, 89);
}
ul li
{
    float: left;
}
ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover{
    background-color: rgb(28, 62, 62);
}
a:visited {
    color: inherit;
    text-decoration: none;
}
