body{
    background-color: rgb(34, 40, 49);
    color: rgb(0, 173, 181);
}
hl {
    list-style-type: armenian;
    margin: auto;
    padding: auto;
    overflow: hidden;
    background-color: rgb(220, 245, 225);
}
p
{
 font-family:sans-serif ;
 font-size: 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(220, 245, 225);
}

ul li
{
    float: left;
}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover{
    background-color: aqua;
}
